<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
</head>
<body>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Cambio1</a>
                    </li>
                    <li><a class="nav-link" href="shop.html">Cambio2</a></li>
                    <li><a class="nav-link" href="about.html">Cambio3</a></li>
                    <li><a class="nav-link" href="services.html">Cambio4</a></li>
                    <li><a class="nav-link" href="blog.html">Cambio5</a></li>
                    <li><a class="nav-link" href="contact.html">Cambio6</a></li>
                    <li><a class="nav-link" href="author.html">Author</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="#"><img src="images/user.svg"></a></li>
                    <li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1>Marc Vidal Navarro</h1>
        <img src="images/bowl-2.png" alt="Imagen aleatoria">
    </div>

</body>
</html>